{{extend 'layout.html'}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Workout</title>
</head>
<body>
<h2>Enter new workout</h2>
    <select id = inputExercise>
        <option value="biceps">Biceps</option>
        <option value="triceps">Triceps</option>
        <option value="chest">Chest</option>
        <option value="shoulders">Shoulders</option>
        <option value="back">Back</option>
        <option value="legs">Legs</option>
    </select>
</body>
</html>