{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_memos_url = "{{=URL('api', 'get_memos')}}";
    var add_memo_url = "{{=URL('api', 'add_memo', user_signature=True)}}";
    var delete_memo_url = "{{=URL('api', 'delete_memo', user_signature=True)}}";
    var edit_memo_url = "{{=URL('api', 'edit_memo', user_signature=True)}}";
    var toggle_visibility_url = "{{=URL('api', 'toggle_visibility', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

        <div v-if="is_adding_memo" id="add_memo_div">
            <b>Title</b>
        </div>
        <div v-if="is_adding_memo" id="add_memo_div">
            <textarea v-model="form_title" rows="1" cols="50"></textarea>
        </div>
        <div v-if="is_adding_memo" id="add_memo_div">
            <b>Memo</b>
        </div>
        <div v-if="is_adding_memo" id="add_memo_div">
            <textarea v-model="form_memo_content" rows="5" cols="50"></textarea>
        </div>

        <div class="button_bar">
            <button v-if="!is_adding_memo" class ="btn rounded red"
                    v-on:click="add_memo_button()"
                    :disabled="!logged_in"
                    v-bind:class="{'disabled': !logged_in}">
                    <i class="fa fa-plus"></i> Add Memo
            </button>
            <button v-if="is_adding_memo" class="btn rounded red"
                    v-on:click="add_memo()">
                    <i class="fa fa-plus"></i> Add
            </button>
            <button v-if="is_adding_memo" class="btn rounded red"
                    v-on:click="cancel_add_memo()">
                    <i class="fa fa-times"></i> Cancel
            </button>
        </div>
    </div>

    <div class="add_btn">
        <a class="btn black large" href="{{=URL('default','viewData')}}"><i class="fa fa-plus"></i> View Workout Data</a>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
