{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_workouts_url = "{{=URL('api', 'get_workouts')}}";
    var add_workout_url = "{{=URL('api', 'add_workout', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">

        <div>
            <b>Exercise: </b>
        </div>
        <div class = "select_box">
            <select required v-model="workout_name">
                <option disabled selected>Select your exercise</option>
                <option value="Deadlift">Deadlift</option>
                <option value="Squat">Squat</option>

        <div>
            <select v-model="workout_name">
                <option value="Bench Press">Bench Press</option>
                <option value="Biceps Curl">Biceps Curl</option>
                <option value="Deadlift">Deadlift</option>
                <option value="Leg Press">Leg Press</option>
                <option value="Leg Extension">Leg Extension</option>
            </select>
        </div>
        <div>
            <b>Weight: </b>
        </div>
        <div class = "weight">
            <input v-model="weight_amount" type="number" min=0 placeholder="Enter the weight used in lbs">
        </div>
        <div>
            <b>Reps: </b>
        </div>
        <div class = "reps">
            <input v-model="rep_amount" type="number" min=0 placeholder="Enter the amount of reps!">
        </div>

        <div class="button_bar">
            <button class="btn btn-danger"
                    v-on:click="add_workout()">
                    <i class="fa fa-plus"></i> Submit
            </button>
        </div>
    </div>

    <div class="button_bar center">
        <a class="btn btn-info large" href="{{=URL('default','index')}}"><i class="fa fa-rotate-left"></i> Go Back</a>
        <a class="btn btn-primary large" href="{{=URL('default','viewData')}}"><i class="fa fa-calendar"></i> View Workout Data</a>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
