{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_memos_url = "{{=URL('api', 'get_memos')}}";
    var add_memo_url = "{{=URL('api', 'add_memo', user_signature=True)}}";
    var delete_memo_url = "{{=URL('api', 'delete_memo', user_signature=True)}}";
    var edit_memo_url = "{{=URL('api', 'edit_memo', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">

        <div id="add_memo_div">
            <b>Exercise: </b>
        </div>
        <div id="add_memo_div">
            <textarea v-model="form_title" rows="1" cols="50"></textarea>
        </div>
        <div id="add_memo_div">
            <b>Memo </b>
        </div>
        <div id="add_memo_div">
            <textarea v-model="form_memo_content" rows="5" cols="50"></textarea>
        </div>
        <div id="add_memo_div">
            <b>Reps: </b>
        </div>
        <div id="add_memo_div">
            <input v-model="rep_amount" type="number" min=0 placeholder="Enter the amount of reps!">
        </div>
        <div id="add_memo_div">
            <select v-model="workout_name">
                <option value="deadlift">Deadlift</option>
                <option value="squat">Squat</option>
                <option value="benchpress">Bench Press</option>
            </select>
        </div>

        <div class="button_bar">
            <button class="btn rounded red"
                    v-on:click="add_memo()">
                    <i class="fa fa-plus"></i> Submit
            </button>
        </div>
    </div>

    <div class="button_bar">
        <a class="btn lime large" href="{{=URL('default','index')}}"><i class="fa fa-plus"></i> Go Back</a>
        <a class="btn black large" href="{{=URL('default','viewData')}}"><i class="fa fa-calendar"></i> View Workout Data</a>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
