{{extend 'layout.html'}}

{{block head}}
{{end}}

<div class="main_content">

    <div class="title center">
        FitViz
    </div>

  {{if auth.user is not None:}}

    <div class="button_bar centered">
        <a class="btn btn-danger large" href="{{=URL('default','addWorkout')}}"><i class="fa fa-plus"></i> Add Workout</a>
        <a class="btn btn-primary large" href="{{=URL('default','viewData')}}"><i class="fa fa-calendar"></i> View Workout Data</a>
    </div>

    {{else:}}

    <h1 class="main_title">Welcome!</h1>

    <p class="explanation">This site will help you organize your workouts with data visualization.</p>

    <div class="login_button">
        <a class="btn btn-warning" href="{{=URL('default', 'user')}}">Login</a>
    </div>

  {{pass}}

</div>