{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_workouts_url = "{{=URL('api', 'get_workouts')}}";
    var delete_workout_url = "{{=URL('api', 'delete_workout', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">

        <div>
            <div v-for="workout in workouts">
                <div class="memo">
                    <div class="memo_text">
                        <div class="memo_name">
                            ${workout.name}
                        </div>
                        <p>
                            ${workout.reps} reps
                        </p>
                    </div>
                    <div class = button_list>
                        <button class="btn rounded red" v-on:click="delete_workout(workout.id)">
                            <i class="fa fa-trash fa-lg"></i>
                        </button>
                    </div>
                </div>
             </div>
            <div class="button_bar">
                <a class="btn red large" href="{{=URL('default','addWorkout')}}"><i class="fa fa-plus"></i> Add Another Workout</a>
                <a class="btn aqua large" href="{{=URL('default','index')}}"><i class="fa fa-rotate-left"></i> Main Menu</a>
            </div>
        </div>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
