{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_memos_url = "{{=URL('api', 'get_memos')}}";
    var add_memo_url = "{{=URL('api', 'add_memo', user_signature=True)}}";
    var delete_memo_url = "{{=URL('api', 'delete_memo', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">

        <div class="memo_list">
            <div v-for="memo in memos">
                <div class="memo">
                    <div class="memo_text">
                        <div class="memo_name">
                            ${memo.name}
                        </div>
                        <p>
                            ${memo.reps} reps
                        </p>
                    </div>
                    <div class = button_list>
                        <button class="btn rounded red" v-on:click="delete_memo(memo.id)">
                            <i class="fa fa-trash fa-lg"></i>
                        </button>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
